body {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   text-align: center;
   font-family: 'avenir';
}
.container {
   display: flex;
   align-items: center;
   text-align: center;
   justify-content: center;
}
#numBoxOut {
   font-size: 200px;
}
#displayNum {
   display: flex;
   align-items: center;
   text-align: center;
   justify-content: center;
}

#numBoxIn {
   font-size: 100px;
   width: 300px;
   height: 187.5px;
   border: 8px solid rgb(151, 150, 150);
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 10px;
}
#numA {
   font-size: 100px;
}

#clicker {
   display: inline-flex;
}

.button {
   width: 200px;
   height: 200px;
   margin: 0 10px;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 10px;
   background: grey;
   font-size: 75px;
   color: white;
}
